body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
body{
  background-image: url(pics/blackCar.jpeg);
  /* border: 1px solid blue; */

  min-height: 98%;
  max-width: 99%;
  max-height: 98%;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: center;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: whitesmoke;
}  
.bd-placeholder-img{
    height: 150px;
    width: 150px;
    float: right;
    border: 3px solid #ccc;
}
.land{
    font-size: 20px;
}