/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
    background-image: url(pics/contact.jpg);
    color: ivory;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    opacity: 1200%;
  }  
.container-marketing{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 530px;
  padding: 15px;
  margin: auto;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 43%;
  left: 28%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  text-align: justify;
  text-justify: inter-word;
}
table {
  border-collapse: separate;
  border-spacing: 0 15px;
  table-layout: fixed;
  width: 300px;
}
th {
  color: white;
  vertical-align: middle;
}
th,
td {
  width: 150px;
  text-align: center;
  border: 1px solid black;
  padding: 5px;
}

