.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float: right;
  }
  body{
    background-image: url(pics/mentors.jpeg);
    background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-size: cover;
  opacity: 200%;
  }
  .p-2{
    float:left;
    display: block;
    color: white;
    text-decoration-color: honeydew;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  .p-2:hover {
    background-color: #111;
  }
  .active {
    background-color: #4CAF50;
  }
  .tree{
    color: ivory;
  }
  .nested{
    color: lavenderblush;
  }

