<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Shradhey Pathak, MNNIT Allahabad">
    <title>Extra Curricular - SMP</title>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">

    <!-- Bootstrap core CSS -->
<link href={% static "SMP\assets\dist\css\bootstrap.css"%} rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href={% static "SMP\blog\extra.css"%} rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3  style="font-size: 20px;" class="masthead-brand" style="color:gold;">"Culture is not made up but something that evolves which is human." <em>- Edward T. Hall</em> </h3>
      <nav style="background-color: aqua;" class="nav nav-masthead justify-content-center">
        <a style="color:firebrick"class="nav-link" href="../">Home</a>
        <a style="color: firebrick;"class="nav-link" href="../events/">Events</a>
        <a style="color: firebrick"class="nav-link" href="../clubs/">Clubs</a>
        <a style="color: firebrick"class="nav-link" href="../sports/">Sports</a>
        
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <!-- <h1 class="cover-heading">Cover your page.</h1> -->
    <p style="color: gold; font-family: 'Lobster', cursive;" class="lead"> “The capacity to learn is a gift; the ability to learn is a skill and the willingness to learn is a choice”.<br />
        Motilal Nehru National Institute of technology, Prayagraj (MNNIT) is an institute with total commitment to quality and excellence in cultural, technical and sports pursuits.<br /></p>
    <p style="color: gold; font-family: 'Lobster', cursive;"class="lead">If you think that MNNIT is all about academics and no extra curriculars, then you are quite mistaken. MNNIT takes pride in having clubs that cater to everybody's needs and having fests that are among. Students enthusiastic about sports have a lot to look forward to at MNNIT with its sprawling grounds and numerous courts for the variety of sports that students play here. Technical activities are predominant on campus as well with clubs such as the SAE Club, Aero-modelling club and the E-Cell. You can definitely set your expectations high and start exploring the different extra-curricular sections on the website! <br />

    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
        <p class="mt-5 mb-3 text-muted">&copy; SMP-Mnnit Allahabad</p>
    </div>
  </footer>
</div>
</body>
</html>
