<!doctype html>
<html>
  <head>
      <title>EXTRA CURRICULAR</title>
      <link rel="stylesheet" type="text/css" href="css/extracul.css">
         <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body> 
    <style>
        h1{
            text-align: center;
        }
        </style>
        <h1>INTRODUCTION</h1>
        <h4>
              “The capacity to learn is a gift; the ability to learn is a skill and the willingness to learn is a choice”.<br />
Motilal Nehru National Institute of technology, Prayagraj (MNNIT) is an institute with total commitment to quality and excellence in cultural, technical and sports pursuits.<br />

If you think that MNNIT is all about academics and no extra curriculars, then you are quite mistaken. MNNIT takes pride in having clubs that cater to everybody's needs and having fests that are among. Students enthusiastic about sports have a lot to look forward to at MNNIT with its sprawling grounds and numerous courts for the variety of sports that students play here. Technical activities are predominant on campus as well with clubs such as the SAE Club, Aero-modelling club and the E-Cell. You can definitely set your expectations high and start exploring the different extra-curricular sections on the website! <br />
</h4>
<h1>EVENTS AT MNNIT</h1>
<h4>
    So, you thought it was all about academics? Wrong! MNNIT is privileged to have one of the best cultural areas among engineering colleges in India. Apart from hosting CULRAV, one of the biggest college cultural festival, we have genre specific clubs and plenty of hostel and intra college events all year round.
        </h4>
    <h2>Swagat</h2>
    <h4>After a month-long exercise and wanderings through the maze of counselling for admission in one of the most prestigious NITs of the country, the newly admitted batch of first year students of undergraduate and postgraduate programmes at Motilal Nehru National Institute of Technology (MNNIT), Allahabad witnesses the annual freshers’ function “Swagat” at the sprawling Rajiv Gandhi Multi-Purpose Hall.<br />
This is very first event of college when you start your college life here at MNNIT. It is an event which acts as a platform for the newly inducted students to exhibit their extra-curricular talents. Besides it also facilitates better co-ordination and communication between the freshers and the senior students. It is purely an event dedicated to students, hence right from the selection of the events to the management of the function, the responsibility is being borne by senior students in the form of a committee of student co-ordinators.<br />
There are 14 committees that make this event a grand success. This ranges from dainty dances like Garba, Marathi, Bengali, SouthFolk, Bhangra, Rajasthani, Inaugural and Western to the charming ramp walks of the footprints committee and from the extraordinary talent of the dramatics committee to the technical upbringing of Media House of MNNIT. The Arts committee brightens the stage with a outstanding back drop painted by vibrant colours. The Music committee which sets the stage on fire with their melodious and enchanting performances. The Oration committee which lefts the audience awestruck with their affluent skills.
</h4>
<h2>
    Technical Fest- Avishkar<br />
-Ideate Innovate and Create
        </h2>
<h4>Avishkar, MNNIT is one of the biggest Science and Technology Festival. It came into existence, with the motto of promoting science and technology and to foster genuine interest in students to come up with technological solutions to real life problems. Techfest has surpassed many years of creating an unmatched aura of a science and technology spectacle year after year. It’s captivating night shows, famous artists and fun setups keeps the festive spirit alive throughout the 4 days of the festival.<br />
Having the theme ‘ideate, innovate and create’, the fest has around 60 events being organised over the period of four days. There are over 12 major banners under which whole Avishkar takes place into account. It includes Aerodynamics, Cyberquest, Mechrocosm, Electromania, Power Surge, Genesis, Rasayans, Nirman, Oligopoly, Kreedomania, Monopoly and Robomania. <br />
Every year Avishkar occurs at mid-September which witnesses a huge participation from all branches and years. Avishkar’ 19 marked a huge success all it had a team of dedicated students, who worked day and night passionately. From self-driving cars which can follow lanes and identify road signals to creating ‘Vikram’ lander inspired ATVs for different types of terrains on moon, form google assistant based home automation to creating your own android app Avishkar keeps on raising the bar year after year.<br />
There are two major sub-events that are held during 4 days of Avishkar which are as follows:
</h4>
<h3>GNOSIOMANIA </h3>
    <h4>
        This is one of the most prominent and the distinguished quiz fests of the country where prominent quizmasters such as Somnath Chanda, Adityanath Mubai, Major Chandrakant Nair and Kushan patel  conducts quizzes on the genres like General Quiz, Maha Quiz, Sports Quiz , Mela Quiz etc with the quizzers from all over India.<br />
Gnosiomania is thus 2-day grand celebration of gyan, fundae and human ingenuity.

        </h4>
    <h3>GNO TALKS</h3>
    <h4>Another event which occurs during Avishkar is Gno Talks. The GnoTalks is a unique conceptualised talk show where celebrities from various walks of life perform their art and inspire the budding techies and managers with their stories and struggles.<br />
GnoTalks has emerged from an open panel discussion to people of great intellect inspiring young minds and leaving them in awe.<br />
Motto of Gno Talks "Where Actions Speak" clearly states the ideology and the need of this eve. Speakers from various fields present not to just speak but to interact with the audience. For a brief moment in history, this is zenith of human intellect and abilities.<br />
MNNIT had a very profound panel for gnoTalks which includes Param Vir Chakra winner Subedar Major Yogendra Singh Yadav, The Robin Hood Army, TVF, stand up comedian Rahul Subramaniam, Chetan Bhagat, former captian of Indian football team I.M. Vijayan, , co-founder of Super 30 Abhayanand, one of the finest archers in India Sanjeev Kumar Singh, speed and sand painter and sculptor Sarvam Patel and the list goes on and on.<br />

</h4>
        <p>For more information visit: -   
<a href="Avishkar:- https://avishkar.mnnit.ac.in/"></a> <br />
Gnosiomania: -<a href=" https://www.facebook.com/gnosismnnit/ ">HERE</a> <br />
Gno Talks : - <a href="https://www.facebook.com/gnoTalks/">HERE</a>
</p>
        <h2>CULRAV</h2>
  <h4> Initiated in 1987, Culrav has emerged as the most resplendent college-based fest in Northern India and as one of the most awaited cultural event of the country. Culrav have breath taking competitions, glamorous pro-nites and appealing informal events due to which Culrav has attracted humongous footfall from colleges all over the country. The likes of "Farhan Akhtar, "Piyush Mishra " and "Vinay Pathak" have graced Culrav’s stage along with exhilarating performances from “The Local Train”,” Shirley Sethia”, "DJ Zaeden" and many more. <br />
There are a lot of events that occurs during the fest such as :
Razzmatazz where various dance teams from different colleges compete to win the title being judged by the top dancers every year.<br />
Rangmanch and Parimal, an umbrella event for all Hindi literary events, <br />

Kavya Sandhya, the inaugural flagship poetry night of Culrav which attracts connoisseurs of poetry, showcasing their talent judged by eminent personalities.<br />

Celebrity and Pro-nites the last two nights of Culrav witnesses thrilling performances from famous celebrities and artists in the fields of rock, hip-hop or EDM.<br />
Spandan which witnesses the charming glamourous ramp walks.<br />

Informal Events from "Stand-up Comedy" to "Googly Cricket" it has a wide variety of events in this arena, to enthral the audiences all the time wherein they stand a chance to win lots of goodies and merchandise.<br />
Stunt Show being hosted by Hero Moto Corp has gathered huge amount of audience last year.<br />

Culrav in its all glory is a story of the zeal and spontaneity that MNNIT holds within its campus – in its students and to support them, their faculty co-ordinators, mentors and staff.<br /></h4>
<p>
For more information visit: -   
    <a href="https://culrav.mnnit.ac.in/" >HERE</a><br />
        </p>
      
<h2>ELOQUENCE</h2>
<h4>"While thought exists, words are alive and literature becomes an escape, not from, but into living."<br />
One of the most awaited Literary events of our college is Eloquence, where your words and your pen are the only weapons.<br />
There are plenty of events that occurs side by side:<br /> Lit-Chat,<br /> the flagship event of Eloquence, <br />Gen-Lit Quiz, <br />Model United Nations (MUN),<br /> Model Indian Parliament (MIP) where a student witness some of the thought provoking and fierce debates. <br />It also consists of events where budding poets and story tellers are left free to race their creative minds and pen it down artistically. <br />
Eloquence is a wholesome experience for the literary enthusiasts to express themselves.</h4>

    <p>For more information click: - <a href="  https://www.facebook.com/MNNITLitClub/">HERE</a> </p>


        <h2>RENAISSANCE</h2>
        <h4>Renaissance, an entrepreneurship summit, under Design Innovation and Incubation Centre (DIIC) envisages to support innovative ideas of an individual or a group of individuals in areas related to the development of new products, goods for the benefit of mankind and/or novel approaches addressing social issues for inclusive development of the society.<br />
E-Cell helps host Renaissance. This summit includes various events such as E-Talk, E-Plan, Biz-quiz, Panel Discussion, IPL Auction, Stock Market and many more.<br />
Renaissance also intends to bring together technologists, engineers, medical professionals, business analysts to develop all-inclusive innovation that creates an impact on the quality of life through talks, discussions and workshops.<br /></h4>
 
            <p>For more information visit: - <a href=" http://www.renaissance.ecellmnnit.in/">HERE</a></p>




        <h2>PROSANG</h2>
<h4>Prosang as a word is a portmanteau of Prodyogiki and Sangam.<br /> It is a tech summit organised by the Robotics and Aeromodelling Clubs of MNNIT. It is generally a three-day event which consists of technical events from various domains like Robotics, Aeromodelling, Electronics, Computer Club, Mechatronics.<br />
With participation from 50+ colleges and 150+ schools from around the country, Prosang promises to be richer and bigger than ever before! It has events varying like Idea Presentation and Blueprint, open school championship, tech events, project exhibition all that require student to be genius of the moment. Several competitions are held followed by project demonstration of robotics and aero modelling club.
Prosang with an array of exciting events allows to have fun while simultaneously learning amongst brilliant minds from around the country! <br /></h4>

    <p>For more information click: -<a href=" https://www.facebook.com/prosangmnnit/">HERE</a></p>

        <h2>SPORTS</h2>
        <h3>Introduction</h3>
        <h4>Excellence in sports is a direct index of the stature and intellectual maturity of an institute. MNNIT has always aimed to set a precedent for other institutions by laying utmost emphasis on the multifaceted development of its students and pushing them to raise the bar by striving to be ‘Citius, Altius, Fortius’.All the facilities are helmed by seasoned training staff so that even beginners have a beautiful chance to learn the craft and their more experienced counterparts can receive the requisite guidance.<br />
You are here for an overall development of your personality, so to keep you healthy and fit, MNNIT has all the facilities for sports, both indoor and outdoor.<br />
All outdoor sports like athletics, cricket, football, hockey, basketball, volleyball, etc. and indoor sports like table tennis, weight lifting, chess, carrom etc. are actively played by all throughout the year.
Institute organize and promote all extra-curricular activities in the field of sports. It has currently twelve clubs: 
1.	Athletics Club,<br />
2.	Badminton Club,<br />
3.	Basketball Club,<br /> 
4.	Cricket Club, <br />
5.	Football Club, <br />
6.	Hockey Club, <br />
7.	Lawn Tennis Club, <br />
8.	Table Tennis Club,<br /> 
9.	Volleyball Club, <br />
10.	Skating Club, <br />
11.	Taekwondo Club and <br />
12.	Karate Club.<br />
The probables for the clubs are selected in September and are then subjected to regular coaching almost every evening throughout the year by excellent coaches. From badminton to basketball, you can follow any sport that you love. The SAC grounds are open till 9 P.M. at night and you can issue sports equipment from the security guard at the SAC desk by bringing your I-Card.
MNNIT sports boasts of a rich culture, thriving on immense participation across the institute and the kind of infrastructure most colleges can only dream of.

Under its vast umbrella, college have two sports events: -

</h4>
<h3>Athletics Meet</h3>
        <h4>Athletics Meet, under Student Activity Centre is a competition held every winter at MNNIT. Being a three-day event, there more than 80 competitions covering all formal and informal events. The Meet affords the opportunity to the sportspersons from the institute to showcase their talents. 
        </h4>
        <h3>Josh and J.lal</h3>
        <h4>Josh and J.lal, the Inter Sports Competition, provides platform for all sportsmen, experienced and amateurs, in the campus. This event will let you push the boundaries of what you can do in the sports arena. It stretches throughout the first month of even semester, and sees by far the largest participation from the students. Don’t worry if you are a big zero in sports and never knew where to begin.<br /> There is a full-time dedicated team of professional coaches for various sporting activities. Physical fitness and mental alertness is a mantra for success in life. So, each one of you do make it a point to take some time out from your busy schedules for sports and extra-curricular activities.</h4>

            <p>For more information click: -<a href=" http://sac.mnnit.ac.in/games">HERE</a></p>




        <h1>CLUBS OF MNNIT</h1>
        <h2>MNNIT LITERARY CLUB</h2>
        <h4>MNNIT, Literary club is a club where students discover their hidden literary talents and step out of their shell. A club which unhides your creativity and allows you to showcase your talent in best way possible. The club provide ample of opportunities to writers, orators and debaters. <br />From MUN, parliamentary debate, MIP to poetry slam, storytelling, the club organises enormous such activities throughout the year. Literary club has proved itself in many IITs and NITs. This club played a major role in bagging up overall championship trophy in SPRINGFEST 2019 and 2020(Cultural fest of IIT KGP).</h4>
            <p>For more information click: - <a href=" https://www.facebook.com/MNNITLitClub/">HERE</a></p>

        <h2>ENERGY CLUB</h2>
        <h4>
            Energy club, a great initiative by Electrical branch of MNNIT which was founded in 2018 aims at promoting renewable energy resources. Currently, working on 10-15 astonishing projects that aim to FUSE technology with energy saving. Dr.Dipayan Guha, has given MNNIT some astonishing projects such as home automation, three phase invertor and BLDC motor control.<br /> This club is all set to organize an Energy Club Exhibition for 2nd and 3rd year B. Tech students in future which will take this initiative to a whole new level.</h4><br />
            <p>For more information click: - <a href=" https://www.facebook.com/energyclubmnnit/">HERE</a></p>

        <h2>GNOSIS QUIZ CLUB</h2>
        <h4>
            Gnosis derived from Ancient Greek, translates to having special knowledge of spiritual mysteries. The Quiz club, founded in 2011, is one of the most active clubs of the institute with a plethora of quizzes covering enormous varieties of genres. The club organises SAC quizzes once in a week. The club also organises ‘Gnosiomania’, the quizzing event held during Avishkar (the tech-fest of MNNIT) which hosts quizmasters and quizzers from all over India.<br /> Many of the alumnus who were once the part of this club have made MNNIT proud at National Level Quizzing like Tata Crucible Campus Quiz, SBI Numero YONO Quiz etc. The genres of quizzes range from Mela, General, India, Bollywood, Sports to Sci-Biz Tech, pop-culture and many more. The genres of quizzes seem to stretch far and thus, no stones are left unturned.</h4><br />
            <p>For more information click: - <a href=" https://www.facebook.com/gnosismnnit/">HERE</a></p>
        
        <h2>ROBOTICS CLUB</h2>
        <h4>
            If you have ever even secretly aspired to build your own robot, then the Robotics Club, MNNIT is the place for you! MNNIT has diverse group of over-enthused robotics nerds who find roots across all academic departments of the institute. The club is a student body which finds its place under the Science and Technology Council. It provides one on one guidance, workshops and tutorials along with tools, equipments, components and workspaces which eagerly await you.<br />

Robotics Club MNNIT was formed out of the passion for robotics, to facilitate learning and research in the areas of Mechatronics/robotics and Intelligent Systems, Automation, Advanced Control Systems, Modelling and Simulation, and Sensors & Algorithms. This aims at acquiring knowledge and appropriate hands-on experience, in order to meet the needs of these rapidly changing technologies and provide services to industry for promoting new technologies as well as designing and manufacturing commercially viable products, for the development of our country. <br />

Robotics club also hosts multiple events in Avishkar such as Daksha, Mind the path and Mind the traffic.</h4>

            <p>For more information click: -<a href="   https://www.facebook.com/avishkar.robotics/">HERE</a></p>
 

        <h2> ANOKHI PEHEL</h2>
        <h4>
            Anokhi Pehel is a non-profitable organisation initiated by the group of students who share common motive of helping underprivileged students. This club is initiated by Kanad Kr. Amar and his friends (2020 batch). Three years back, they came up with the idea of “each one teach one”. And laid the foundation of this club which has now more than 400 members. A large number of students from all courses and streams are volunteering to teach the less privileged students. The managing and teaching team of the organisation is aimed at bringing students from their homes, teaching them in evening and then dropping them back at their homes.<br />
This club organises “Antyodaya” (annual celebratory fest) in which these students participate in different competitions of cultural, academic and sports interest to build their personality as a whole.</h4>

            <p>For more information click: - <a href="  https://www.facebook.com/anokhipehel/">HERE</a></p>


        <h2>E-CELL</h2>
        <h4>
            MNNIT Entrepreneurship Cell is MNNIT's official student-run institute body that aims to encourage and aid the students for innovation & entrepreneurship.<br />
E-Cell helps host the annual entrepreneurship event – “Renaissance”, established back in 2014, under Design and Innovative Centre. The club is full of vibrant, dynamic and hard-working students. E-Cell team is one that instils the zeal of an entrepreneur in each and every one of its members, making them job creators rather than job-seekers.<br /> E-Cell also helped organize TED Talks in college premises.</h4>

            <p>For more information click: -<a href=" https://www.facebook.com/mnnitecell/">HERE</a></p>

        <h2>GREEN CLUB</h2>
        <h4>MNNIT Green Club is founded by Ashish Jaiswal and his friends (2021 batch).<br />
The club was inaugurated by the honourable president of India, Ramnath Kovind Ji on 15 Dec 2017. They planted around 1000 plants all over the campus on different occasions. Till now, nearly 3000 planted have been planted by this club. During summer times, they arranged almost 200 water pots for birds all across the campus, under the supervision of official in-charge.<br />
As a part of Green Club initiative, students are now advised to bring water bottles during the exam. In addition, instead of plastic cups, recyclable paper cups are being used during the exam time to stop the usage of plastic in the campus.<br />
This club also organises cleanliness drive to tell students of an institute of national importance that, “If we cannot keep our own college clean then are, we really educated?”.</h4>

            <p>For more information click: - <a href="  https://www.facebook.com/MNNITGreenClub/">HERE</a></p>

        <h2>ROTARACT CLUB</h2>
        <h4>
            Rotaract is a network of friendship engagement and action that spans 167 countries. Rotaract clubs are part of a global effort to bring peace and international understanding to the world. The purpose of Rotaract is to provide an opportunity for young men and women to enhance the knowledge and skills to address physical and social needs of the communities. Rotaract Club is one of the most prominent clubs of MNNIT. The members of this club teach the underprivileged students of Bal Bharti School under the initiative “DISHA”.<br />
Extracurricular activities are also being organised which helps to overall development of these students.<br />
Cloth Donation Drives are also an important initiative carried out by this club.
They collect blankets, woollen clothes from the college students and nearby areas and distribute them to needy in winters.
Visiting Blind Schools and Old Age Homes and carrying out Blood Donation Camp are some of the main initiatives taken by this club. Aiming at making this society a better place to live in, Rotaract Club becomes one of the major attractions of MNNIT.<br /></h4>

            <p>or more information click: - <a href="https://www.facebook.com/rotaractmnnit/">HERE</a></p>


        <h2>MNNIT ATHLETICS CLUB</h2>
        <h4>In sports, you simply aren't considered a real champion until you have defended your title successfully. Winning it once can be a fluke; winning it twice proves you are the best.<br /> MAC- MNNIT athletics club has turned out to be the best among top engineering colleges in India. The club not only won once but successfully retained its title in continuation for years. Having seen them practice, it fully justifies the fact that staying on top takes much more efforts than reaching the top. Be it Inter NIT Athletics, ‘Udgosh’ at IIT Kanpur, ‘Sangram’ at IIT Roorkee or ‘Spardha’ at IIT BHU, they have given jaw dropping performances fabricated with some real athletic abilities. <br />
‘Sky is the limit’ a sentence engraved on the mind of each of the athletes. A proper amalgamation of coordination and support among the teammates make the troupe stand apart from others.
Each year this very team organises annual Athletic Meet in the institution. The event also shows up with enormous crowd participation and a hefty amount of spectators.<br /></h4>

            <p>For more information click: -<a href=" https://www.facebook.com/mnnitatheleticsclub/">HERE</a></p>

        <h2>MNNIT SAE CLUB</h2>
        <h4>
            Society of Automotive Engineers (SAE) is the global society for all the automobile engineering enthusiasts. As MNNIT is a part of its collegiate society, it participates in all the three mega events: SAE-BAGA, a national level event design; SAE-SUPRA, a self-made car racing event; and SAE-EFFICYCLE, the event for three wheeled electric or self-paddled tricycle.<br />
A green bike made by MNNIT students has hit the campus road which uses the e-bike recovery system. The students have also made a GO-KART for an event in March 2020.<br /></h4>

            <p>For more information click: -<a href=" https://www.facebook.com/SAEMNNITCLUB/">HERE</a></p>


        <h2>MSME CLUB</h2>
        <h4>
            MNNIT Society of mechanical engineers (MSME) is the club run by final year students of Mechanical and Production and Industrial engineering branch. It provides extra classes to hone the soft skills for the first, second- and third-year students along with preparing for the doom’s day with mock GD’s and mock interviews.<br />
These have both technical and non-technical topics to ensure holistic preparation of the students as they shed their fear and work their way up the ladder. It can be seen as two-way benefit proposition-seniors get to polish their skills while teaching juniors get wonderful peer-to-peer learning. It’s a win-win for one and all.<br />
</h4>
        <h2>AERO MODELLING CLUB</h2>
<h4>
    "If you were born without wings, do nothing to prevent them from growing."<br />
Ever wondered what makes stuff airborne? Ever harboured a dream to sail to the tune of the winds?<br />
Aeromodelling Club, MNNIT is a group of aeromodelling and aviation enthusiasts sharing a unique passion of flying and an innate desire to push the bounds of airspace like they have never been before. Aeromodelling is a work of art where engineering and creativity synergize in developing sophisticated flying systems. With the immense scope of creativity and interdisciplinary nature, it gives a person chance to develop a complete system with people across various departments and specialization.<br />
This club welcomes all those students who perceive this as a science, hobby or a sport. Objective of it is to unify these like-minded enthusiasts on a common platform and do something exciting in new ways.<br /></h4>

    <p>For more information click: -<a href=" https://www.facebook.com/AeroClubMNNIT/">HERE</a></p>

        <h2>ENACTUS</h2>
        <h4>
            Enactus works with a vision to create a better, more sustainable world. Enactus MNNIT is the student chapter of Enactus at Motilal Nehru National Institute of Technology, Allahabad. We believe that every individual can make an impact in their community by using the positive power of entrepreneurship.<br />
Enactus MNNIT Allahabad is a committee of registered students who work along the guidelines of ENACTUS - a non-profit international NGO constituting 36 nations globally, with a prime objective of improving the standards of living across the world. We recognize the abundant human skill in the underprivileged section of our society and work upon ways to develop business model to help them become self-sufficient in terms of income and overcome the stigma of social discrimination. This club conduct various projects based on numerous surveys and countless researches which tackles various problems in accordance to the 17 sustainable development goals designed by the united nations leaders for better world.<br /></h4>

            <h5>For more information click: - <a href="https://www.facebook.com/enactusmnnit/">HERE</a></h5>


        <h2>ASTRONOMY CLUB</h2>
        <h4>
            The curiosity of the students regarding the universe are taken care by this club. The main aim of the club is to promote amateur astronomy and popularise it in the institute. Frequent lectures and talks by students, faculty and other renowned institutions are organised by the members for the campus community.<br />
This club is group of 10 people from various years of the college exploring various theoretical and experimental aspects of Astronomy. Some of the major projects this club is working upon include 3D printing a telescope, Solar system and voyager trajectory simulation in MATLAB, Radio Astronomy at RAD@home, Processing of planetary image data, sky objects cataloguing and the list goes on and on.<br />
This club compels the soul to look upwards and leads us from this world to another<br /></h4>

            <p>For more information click: -<a href="  https://www.facebook.com/AeroClubMNNIT/">HERE</a></p>

        <h2>DANCE CLUB</h2>
        <h4>
            Dance club, one of the official club, is the most fascinating and glamorous clubs of MNNIT with maximal audience participation. To drive your interest into this charismatic club we have duo dance, group dance events throughout the year. This club assures the audience that the dance performances will leave them flabbergasted. The main event Razzmatazz during the annual cultural fest, CULRAV attract umpteen people. Swagat, the annual fresher’s event which is organized at the starting of the academic year is a platform for freshers to unveil their outstanding skills and passion to be a virtuoso dancer.<br /> This year club plan to organize dance workshops for freshers as well as an event wherein freshers can show cast their talent. "Great dancers are great because of their passion".    <br />   

Apart from this, this club played a pivotal role in bringing home the SPRINGFEST Championship Trophy twice in consecutive years.</h4>

            <p>For more information visit: - <a href="https://www.facebook.com/dcm.mnnit/">HERE</a></p>

        <h2>MEDIA HOUSE OF MNNIT</h2>
        <h4>
            MHM, one of the most active clubs of the institute is a group or rather a family of well profound and innovative people who work behind the lens and laptops. Trying to capture the moments and recreating them with photos and videos, they work throughout the year to capture that perfect moment, to find those perfect lines and shades in the posters which make the events even livelier.
They cover every small to big events happening in the college.<br />
Designing an idea from scratch and illustrating it through posters, photos, videos or any empty creative space is one of the strengths of the club. Apart from covering the events of the institution, this club also organises various events such as Chitra Sangam, Dark Room Photography, various designing and videography contests. Winning various competitions in IIT BHU, IIT KGP and IIT BOMBAY is another feature in the Cap of Media House of MNNIT.
<br /></h4>
            <p>For more information click: -<a href="https://www.facebook.com/MHM.MNNIT/">HERE</a></p>
            <p>You-Tube channel:- <a href="https://www.youtube.com/channel/UCHytQI3z_Rx-JGVayx8PG4g">HERE</a></p>


        <h2>DRAMATICS CLUB</h2>
        <h4>When one needs to express oneself, there can be no better way than to play out the character that best describes the pot of emotions boiling inside. <br />Alchemy, the official dramatics society of MNNIT aims at perfecting those “expression of thoughts” in every way possible, boosting one’s self-confidence to unprecedented levels. Whether it be classics or comedy, street plays or nautanki, mono acting or script writing, you can show your metal here, and discover talents which you never knew you had in yourself.<br /> Alchemy is renowned for its amazing performances with specialization in street plays and unmatched originality, and has performed extremely well in Springfest at IIT KGP, bagging second prizes in both stage play and mono acting in 2019. <br /></h4>

            <p>For more information click: -<a href=" https://www.facebook.com/Alchemy.Dramatics/">HERE</a></p>

        <h2>ELECTRONICS SOCIETY</h2>
        <h4>Electronics society is the club run by final year students of Electronics and communication branch. It provides extra classes to hone the soft skills for the first, second- and third-year students along with preparing for the judgement day with mock GD’s and mock interviews.<br />
These have both technical and non-technical topics to ensure holistic preparation of the students as they shed their fear and work their way up the ladder. Members of this club assign numerous projects to the students which will help them for the placements. It can be seen as two-way benefit proposition-seniors get to polish their skills while teaching juniors get wonderful peer-to-peer learning. It’s a win-win for one and all.
<br /></h4>
            <p>For more information visit: -<a href="   https://www.facebook.com/avishkar.electromania/">HERE</a></p>

        <h2>COMPUTER CODING CLUB</h2>
        <h4>Coding Club is one of the biggest clubs of MNNIT. As a part of the Institute Technical Council, this club aims at providing a gateway for the people of the institute to join the coding Community. It creates a platform which allows students to gain assistance and mentorship to enhance their coding ability.It aims at propagating the enthusiasm for coding in the institute and especially amongst freshmen. This club believe that every student of MNNIT should have an opportunity to learn how to code and develop a passion for it.<br />
Club conducts sessions and workshops, hold lectures and talks, and even host coding competitions and hackathons. There is something for everyone. Whether you want to learn, participate in hackathons and win big prizes, or prepare for the Hack-36 and GSoC, you can do it all here. <br /></h4>

            <p> For more information click: - <a href="https://www.facebook.com/groups/ccqueries/">HERE</a></p>


        <h2>MUSIC CLUB</h2>
        <h4>Nishaad, the music club of MNNIT Allahabad. The club had very humble beginnings when only people who were part of the club used to participate. As time slowly progressed, it soon became one of the fastest growing clubs in MNNIT with huge participation and audience for the events. The club promotes good music and the seniors hone the talents of their juniors. The music club is at the forefront of every college event from Culrav to Republic day gathering. They have invited bands like The Local Train, Parvaaz, Chronic Xorn to perform in the college.<br />
            Apart from this, the club has a plethora of achievements under its belt. Every year members of the club represent it in major cultural fests across India, Springfest at IIT KGP, Antaragini at IIT Kanpur, Effervescence at IIIT Allahabad, Kaashiyatra at IIT BHU and Mood Indigo at IIT Mumbai. The club members have secured pole positions at these fests.<br /></h4>

            <p>For more information click: -<a href=" https://www.facebook.com/nishaadmnnit/">HERE</a></p>
                   <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2020 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src= "{% static "SMP/assets/js/vendor/jquery.slim.min.js" %}" ><\/script>')</script><script src={% static "SMP/assets/dist/js/bootstrap.bundle.js" %}" ></script></body>
</html>

    