<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="SMP, MNNIT ALLAHABAD">
    <title>SMP - MNNIT</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/blog/">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
    <link href="{% static "SMP/assets/dist/css/bootstrap.css" %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
      <style>
            img {
              float:right;
                width:100%;
                height:100%;
            }
        </style>
<!--    <style>-->
<!--      .geeks { -->
<!--                width:50%; -->
<!--                height:300px; -->
<!--            } -->
<!--    </style>-->

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "SMP/blog/mainLi.css" %}" rel="stylesheet">
    <link href="{% static "SMP/blog/exp.css" %}" rel="stylesheet">
  </head>



  <body>
    <div class="container">
      <br>
        <img src="{% static "SMP/blog/pics/logo.png" %}" alt="logo" class="logocollege img-responsive">
    <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 text-center">
        <h1 style="font-size:25px">STUDENT MENTORSHIP PROGRAMME - MNNIT ALLAHABAD</h1>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        {% if user.is_authenticated %}
          <a class="btn btn-sm btn-outline-secondary" href="logout/">Logout</a>
          <a class="btn btn-sm btn-outline-secondary" href="Your_profile/">details</a>
        {% else %}
          <a class="btn btn-sm btn-outline-secondary" href="login/">Login</a>
        {% endif %}
          <!-- <a class="btn btn-sm btn-outline-secondary" href="details/">details</a> -->
      </div>
    </div>
  </header>

      <div class="nav-scroller">
            <a class="p-2 text-muted"  href="details/">Mentors</a>
            <a class="p-2 text-muted" href="academics/">Academics</a>
            <a class="p-2 text-muted" href="campus_life/">Campus Life</a>
            <a class="p-2 text-muted" href="resources/">Facilities</a>
            <a class="p-2 text-muted" href="extra_curricular/">Extra-Curricular</a>
            <a class="p-2 text-muted" href="FAQ/">FAQ'S</a>
             <a class="p-2 text-muted" href="contacts/">Contact Us</a>

      </div>
 <hr class="featurette-divider">

  <div id="continue-read" class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Welcome to MNNIT Allahabad</h1>
      <p class="lead my-3" style="font-family: 'Caveat', cursive;">This website has been made to introduce incoming freshers to the life at MNNIT Allahabad.
        Explore this website and use it to make an informed choice about your college and department.
        You won't feel leftout on this platform. Have fun!</p>
      <p class="lead mb-0"><a href="Read_More/" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Pages From History</strong>
          <div class="mb-1 text-muted"></div>
          <p class="card-text mb-auto">The college has the distinction of the being first in the country to start an undergraduate programme in Computer Science & Engineering, in 1976-77.</p>
          <br>
          <p>The foundation stone was laid by Jawaharlal Nehru, the first Prime Minister of India.The main building of the college was inaugurated by Prime Minister Lal Bahadur Shastri on 18 April 1965.</p>
        </div>
      </div>
    </div>



    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <img style="width:500px" style="height:250px" src= "{% static "SMP/blog/pics/Inauguration_of_MNNIT.jpg" %}" alt = "Geeks Image">
        </div>

      </div>
    </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h4 class="pb-4 mb-4 font-italic border-bottom">
            Message By Our Director Sir
          </h4>
          <iframe width="400" height="200" src="https://www.youtube.com/embed/Sz6YRpyefpY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <br><br>
         <h4 class="pb-4 mb-4 font-italic border-bottom">
          Culrav: The Fest
        </h4>
        <iframe width="400"  height="200" src="https://www.youtube.com/embed/_Ifnk69C9NE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          
        <br><br>
          <hr class="featurette-divider">
        <footer class="container">
          <p class="float-right"><a href="#">Back to top</a></p>
          <p>&copy; SMP - MNNIT Allahabad</p>
        </footer>
    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">Advice 404</h4>
        <p class="mb-0"><em>Enjoy your college life to the fullest. We are standing always with you.</em> Bon Voyage.</p>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Important Links</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="http://www.mnnit.ac.in/" target="_blank">Official Website</a></li>
          <li><a href="http://academics.mnnit.ac.in/" target="_blank">Academic Portal</a></li>
          <li><a href="http://www.mnnit.ac.in/index.php/admission" target="_blank">Admission Portal</a></li>
          <li><a href="https://www.facebook.com/mentorshipMNNIT" target="_blank">SMP - FB Page</a></li>
          <li><a href="https://www.facebook.com/mnnit.culrav" target="_blank">Culrav</a></li>
          <li><a href="https://www.facebook.com/mnnit.avishkar" target="_blank">Avishkar</a></li>
           <li><a href="https://www.hack36.com/" target="_blank">Hack 36</a></li>
          <li><a href="https://www.facebook.com/prosangmnnit" target="_blank">Prosang</a></li>
          <li><a href="https://academics.mnnit.ac.in/convocation/" target="_blank">Convocation</a></li>
          <li><a href="https://www.facebook.com/MHM.MNNIT" target="_blank">Media House of MNNIT</a></li>


        </ol>
      </div>

      <div class="p-4">
        <h4 class="font-italic">Follow Us On</h4>
        <ol class="list-unstyled">
          <!-- <li><a href="#">Instagram</a></li> -->
          <li><a href="https://www.facebook.com/mentorshipMNNIT" target="_blank">Facebook</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->

</body>
</html>
