<!DOCTYPE html>
<html>
  <head>
    <title>ACADEMICS</title>
	  <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
	 <link rel='icon' href='logoo.ico' type='image/x-icon'/ >
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      
	  <style>
	    p ,h5 ,h6 ,h4{
		  margin-left:25px;}
		.header{
		 height:100px;
		 text-align:center;
		 padding-top:10px;
		}
	  </style>
  </head>
    <body >
			<div class="header" style="background-color:#ccfff1" > <h1> ACADEMICS MNNIT ALLAHABAD</h1></div>
			 <div><img src="dean.jpg" alt="logo2.png" width="100%" height="400px">
			</div>
			<div class="container">
			
              <p>Motilal Nehru National Institute of Technology Allahabad, Prayagraj is an institute with total commitment to quality and excellence in academic pursuits. It was established as a Regional Engineering College in 1961 and was known as MNREC. After having traversed a long way, on June 26, 2002, MNREC was transformed into National Institute of Technology and Deemed University funded by the Government of India. MNNIT has been granted the status of Institute of National Importance w.e.f. 15.08.2007, with the enactment of National Institutes of Technology Act- 2007(29 to 2007).
                  As a fresher, after having spent the last two to three years engulfed into the dynamics of Physics, Chemistry and Mathematics, your entry into MNNIT Allahabad will mark a change in the way you approach the academics. Academics form a central part of any student’s life at MNNIT Allahabad. There is a plethora of opportunities being provided here at MNNIT Allahabad so that you can enrich yourself in the academics part and become a valuable asset to the not only to the institution but also the nation. 
              </p>
            <h2>UG PROGRAMME</h2>
              <p>Academics cannot be neglected by you at any cost because everything which will happen with you in college will depend upon your pointer only. Here at MNNIT Allahabad we have absolute grading system in which certain grades are accorded to the students on the basis of marks obtained out of 100. And after calculating your grades in all the subjects for that semester you will be given a SPI (Semester Performance Index). As you will move onto the next semesters the SPI’s of the previous semesters will help in calculating your CPI (Cumulative Performance Index).
                  There will be two exams per semester to evaluate the depth up to which a student has learnt the subject – the midsemester examination and the end semester examination. The mid-semester examination will be of 20 marks and the end semester examination will be of 60 marks. The rest 20 marks will be in the hands of the respective subject professors and will be given keeping in view your performance throughout the semester in that subject, marks scored in quizzes, assignments and tutorials solved and attendance.
              
              <h5>Important- MNNIT ALLAHABAD has a strict policy of maintaining at least 75 percent attendance in all the subjects failing which you would be debarred from appearing in the end semester examination. Thus, take attendance very seriously and try to attend classes with full zeal and enthusiasm.</h5>
               <h6>Merit Cum Scholarship-  It is a scholarship amount of ₹20,000 which is given to the top 5 students of every branch at MNNIT Allahabad of each year based on the performance up to the previous year. The scholarship is awarded only if the student qualifies in the top 5 of his/her branch and is also not receiving scholarship of any kind. Merit Cum Scholarship is given by the Dean Student Welfare Office, MNNIT Allahabad.
               </h6>
			   </p>
        <h2>DEPARTMENTS</h2>
        <p>Different departments of engineering offer a wide variety of options to pursue courses related to what a particular engineering discipline have to offer. Undergrad program at MNNIT comprises of total 9 different courses of engineering disciplines. This part is mainly focused to make the new entrants familiar with the different engineering departments and courses offered at MNNIT. Take a note that the structure of course and detailed syllabus can vary from college to college. 
            Different engineering departments which offer undergrad courses under the aegis of MNNIT are:

       
    <ul>
  

<li>	Biotechnology</li>
<li>	Chemical Engineering</li>
<li>	Civil Engineering</li>
<li>	Computer Science and Engineering</li>
<li>	Electrical Engineering</li>
<li>	Electronics and Communication Engineering</li>
<li>	Information Technology</li>
<li>	Mechanical Engineering</li>
<li>Production and Industrial Engineering</li>
     </ul>
  </p>
    <h3>BIOTECHNOLOGY</h3>
    <p>“I think the biggest innovations of the 21st century will be at the intersection of biology and technology. A new era is beginning.”  - Steve jobs
Biotech is relatively a new and diverse field which deals with the harmonious conjunction of biology and technology. The department is well equipped with the all necessary instruments and number of research facilities. The department has a young, enthusiastic and well qualified faculty actively involved in research and teaching.
<h5>What the college has to offer?</h5>
<h6>Department of biotechnology offers abundance of laboratories, equipments and board of faculties which incubates the culture of research and development in the aspiring minds of undergrads. Some of the facilities present in the campus of MNNIT under the biotech department are: 
    </h6><p>
Anaerobic gas System :Autoclaves <br />
Weighing Balance :BOD Incubator <br />
CDC biofilm device: Centrifuge <br />
Colorimeter	Cooling: Centrifuge <br />
Digestion unit: Deep freezer ( -20 & -80 °C ) <br />
DO Meter model  with probe: Digital COD <br />
Agarose gel electrophoresis units: Digital colony counter <br />
Laminar air flow : Double distillation unit <br />
Magnetic stirrer with hot plate	:Thermal Cycler <br />
Microwave Oven: Homogenizer <br />
Hot air Ovensn :Incubator <br />
Plant growth chamber: Microscope <br />
Refrigerator :Orbital shaker incubator<br />
Southern blotting :Apparatus	pH Meter<br />
Transilluminator :Serological Water Bath<br />
UV Visible Spectrophotometer :Spin Win Micro Centrifuge <br />
Vortex Mixture :Tissue Culture Racks<br />
Fluorescent Microscope with accessories	 :Vacuum pump <br />
Biosafety cabinet :Ultra Membrane Filtration Unit <br />

For more info: www.mnnit.ac.in/index.php/department/engineering/biotech</p>
</p>

<h3>Chemical engineering</h3>
<p>If you deal with bunch of electrons, reactions, stoichiometric formulas congrats you are a chemist when you expand these reactions on a whole new level where industries builds products based on your expertise congrats you are a chemical engineer. 
Department of chemical engineering at MNNIT is held accounted for the building and shaping up of multiple chemical process and product engineers who work for product development and process feasibility of multiple Oil and gas, soaps and detergent, cosmetics, synthetic fiber and plastic industries.
As a budding chemical engineer you will study and understand the intricacies of Thermodynamics, Heat and Mass Transfer, Fluid Mechanics, Chemical Reaction Engineering and Process Control. Further you will work on designing and development of components relating to each subfield.

<h5>What the college has to offer?</h5>
<h6>MNNIT offers you a platform to shape yourself and pursue chemical engineering as a practitioner in research, industry, government sector (GATE, ESE). Research laboratories under the chemical engineering department are: Chemical Technology laboratory, Process Dynamics & Control laboratory, FFM laboratory, Chemical Reaction Engineering laboratory etc.

For more info: www.mnnit.ac.in/index.php/department/engineering/cm
</p>
 <h3>Civil engineering</h3>
 <p>Have you ever wondered while gazing down the mega structures in photos, movies or real life “how is this structure standing?”, ”what ensures that it will not fall?”, “what laws of physics and governing equations are responsible ?”. Civil engineering holds the key for all of your curiosity.

As a civil engineer you are responsible for design and construction of bridges, road, skyscrapers, airports, tunnels, water supply and storage systems and much more. The F.B.D and force analysis you made during your Jee years will come handy in each aspect of civil engineering.

Under the sub discipline of civil engineering you will come across structural mechanics, hydrology, transportation, Geodesy, soil mechanics, urban planning and maintenance etc. with the fundamental knowledge in hand and appropriate training and projects you will see the magic of mega structures unfold in front of you.
      
<h5>What the college has to offer?</h5>
<h6>Under the supervision of experienced faculties knowledge ranging from fundamental to advance are imparted by means of structured courses, regular classes and labs. Regular on road experience is provided by means of inspection and surveying inscribed under the course. Also many alumni hold the reputed position in industry and government sector. You will be exposed to the culture and support group of various competitive exams like GATE, ESE, and UPSC etc.
Laboratories under the civil department are: GeoTech Lab, Geoinformatics lab, CAD lab, Structural engineering lab, surveying etc.
For more info: www.mnnit.ac.in/index.php/department/engineering/ce
</h6>
</p>
<h3>Computer science and engineering + Information Technology</h3>
<p>“Computer science is no more about computers than astronomy is about telescopes, biology is about microscopes or chemistry is about beakers and test tubes. Science is not about tools, it is about how we use them and what we find out when we do.”     -Michael R. Fellows
Computer science deals with numerical foundation of data and information, its interpretation, calculation and computation and lastly its application and representation. Sounds cool right. With the knowledge of computer science you can interact with machines, gives them specific instructions to create and execute exciting stuffs.
Let’s start from the beginning in the introductory courses you will get to know about programming via C. In coming sophomore and junior year you will be taught about data structure and algorithm followed by data analysis, operating system, Networks and databases, compilers, logic for computer science, automata theory and much more. Digging deeper into the advance technologies artificial intelligence and machine learning will sure catch your interest as a tech savvy. And believe me it’s just not half of it.

<h5>What the college has to offer?</h5>
<h6>Alumni base of CSED is quite rich and diverse with engineers working in top MNCs namely GOOGLE, Microsoft, GS, Amazon and the list goes on. Multiple students have pursued their research carrier in foreign univs. Faculties of CSED are quite reluctant to impart the knowledge of computer science and logics. Also CSED of MNNIT has a glory of its own personal department building where regular research work goes on. Coding club of MNNIT is another aspect of student body which helps juniors to sail through the not so gentle sea.
CSED of MNNIT has following laboratories: Computing Lab, Database and Data Mining Lab, SOA /Distributed Computing Lab, Embedded System and Microprocessor Lab, Information Security Lab (under ISEA Phase-II),Computer Networking and Wireless / Mobile Networking Lab, Image Processing and Computer Vision Lab etc.
For more info: www.mnnit.ac.in/index.php/department/engineering/csed
</h6>
</p>
<h3>Mechanical engineering + PIE</h3>
<p>Have you ever thought “why f1 cars are so fast?”, “How robots do what they do?”, “how turbine engines are designed?”, “and how F-35 maneuver VTOL?” Mechanical engineering holds the key for all of your answers. This branch gives you grounding for concepts of machines, manufacturing process, automation and control, vehicle and rotor dynamics. While providing exposure to its sub discipline of mechatronics and robotics. From revving of koenigsegg regera to the aerodynamic magnificence of Boeing V-22 osprey the outcome of this engineering discipline will shock you to the core. 
Broadly speaking Mechanical engineering is science of machines. You will learn fundamentals of design and analysis of a mechanical component. Under course offered by this branch you will develop an understanding of thermodynamics, heat transfer, fluid mechanics and dynamics, solid mechanics, strength of materials, kinematics, multibody dynamics, manufacturing processes and practices, control systems and so on. And believe me it is just the tip of iceberg what lies beyond is concept of vehicle, aero and rotor dynamics, Computer aided engineering and list goes on.
Note: Production and industrial engineering is subset of mechanical engineering where you will acquire knowledge of production processes developed and maintained by different genre of industries.

<h5>What the college has to offer?</h5>
<h6>Starting from the diverse alumni community, board of experienced professors, various technical clubs and mechanical laboratories of MNNIT will leave no stone unturned in shaping your conscious towards a more positive outlook towards a technical problem. Technical club like SAE will engage you in inter collegiate competitions where you can build your own vehicle by implying the classroom knowledge in practical situation. You will also find multiple students engaged and excelled in various competitive exams like GRE, GATE, ESE, CAT etc. who are eager to provide a support group for you if you wish for the same.
MED of MNNIT has following laboratories: Thermal Engineering Laboratories, Production and Industrial Engineering Laboratories, Design Engineering  Labs, Mechanical Engineering Workshop, Heat engine laboratory etc.
For more info: http://www.mnnit.ac.in/index.php/department/engineering/me
</h6>
</p>
<h3>Electrical Engineering</h3>
<p>If you are fascinated about Current- mind you cannot see it; but still if you are in love with solving complex electrical circuits by applying Kirchhoff’s laws then definitely Electrical Engineering at MNNIT Allahabad is meant for you. MNNIT Allahabad ranks among the top institutes in imparting the knowledge of Electrical Engineering. 	Electrical Engineering is the only branch of MNNIT to have its own website. Electrical Engineering is one of the oldest branches in MNNIT Allahabad and Computer Science and ECE are the branches which are developed from Electrical only. There are many rank holders from Electrical Engineering in not only exams like GATE,IES but also in IAS.

<h5>What the college has to offer?</h5>
<h6>MNNIT Allahabad is well equipped with the desired labs to impart the basic knowledge of Electrical Engineering. Apart from learning the basics of Electrical Engineering with subjects like Power System, Electrical Machines, Power Electronics and Control System, you will also be taught about Data Structures and Algorithm and some parts of Electronics and Communication as well.
For more info: http://www.mnnit.ac.in/index.php/department/engineering/ee
</h6>
</p>
<h3>Electronics and Communication Engineering</h3>
<p>>Electronics and Communication Engineering is a branch of Engineering which has developed a lot over the past few years. If diving deep into the working of Transistors and knowing more about the semiconductors entice you then Electronics and Communication Engineering is surely your cup of tea. </h4>
 <h5>What the college has to offer?</h5>
<h6>Again till 4th Semester most of the courses of Electronics and Communication Engineering is very similar to that of Electrical Engineering but then after the 4th Semester you will have to dive deep into the core subjects of Electronics like the VLSI. The labs of ECE department are also well maintained.

For more info: http://www.mnnit.ac.in/index.php/department/engineering/ece
</h6>
</p>
           

             </div>			
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
			 
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 
	</body>
</html>