<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <title>SMP - MNNIT</title>
    <link rel="stylesheet" href="{% static "SMP/blog/readMore.css" %}">
    <link href="{% static "SMP/assets/dist/css/bootstrap.css" %}" rel="stylesheet">
</head>
<body>
    <div>
        <br>
    <div class="heading">
        <h1 >    Know More About Our College</h1>
        <div style="float: right;">
        <button onclick="location.href='../';" id="myButton" style="width:50%;" style="background-color: transparent;" style="float: right;" class="btn btn-sm " type="submit" href="../">
            <img src="{% static "SMP/blog/pics/logo.png" %}" alt="logo" width="50px" height="50px" >
        </button>
        </div>
    </div><hr style="color: brown;">
    </div><hr>
    <div class="para">
        <p style="color: blanchedalmond;">Motilal Nehru National Institute of Technology Allahabad, Prayagraj (MNNIT) is an Institute with total commitment to quality and excellence in academic pursuits. It was established as one of the seventeen Regional Engineering Colleges of India in the year 1961 as a joint enterprise of Government of India and Government of Uttar Pradesh, and was an associated college of University of Allahabad, which is the third oldest university in India.
        <p style="color: blanchedalmond;">For a short duration of two years (2000-2002), the Institute was affiliated to U.P. Technical University. With over 45 years of experience and achievements in the field of technical education, having traversed a long way, on June 26, 2002 MNREC was transformed into National Institute of Technology and Deemed University fully funded by Government of India. With the enactment of National Institutes of Technology Act-2007(29 to 2007), the Institute has been granted the status of institution of national importance w.e.f. 15.08.2007.

    <br><br>
    </div>
    <div class="heading">
        <h1 >Campus Tour</h1>
    </div>
    <br>
    <div class="Youtube">
         <iframe width="560" style="padding:10px" height="315" src="https://www.youtube.com/embed/CTxW5zpY8zU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <!-- <aside style="float: right;"><iframe width="560" height="315" src="https://www.youtube.com/embed/SBXi7X_Me-s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></aside> -->
        <br>
    </div><br><br>
    <div class="para">
         <p style="color: blanchedalmond;"> The Institute had begun with offering Bachelor Degree Programmes in Civil, Electrical and Mechanical Engineering. It was the first in the country to start an undergraduate programme in Computer Science & Engineering in 1976-77. Subsequently, in the year 1982-83 undergraduate programmes in Electronics Engineering and Production & Industrial Engineering were started.The first Master’s Programme of the Institute was introduced by the Mechanical Engineering Department in the year 1966. In all other Engineering Departments, Master's Programmes were introduced in the 1970-71. To add a new dimension to itself the Institute established School of Management studies in 1996, which offers a two year / four semester post graduate degree programme in Management (MBA).
<p style="color: blanchedalmond;" > The Institute now offers nine  B.Tech., nineteen M.Tech. Degree Programmes (including part-time), MCA, MBA, M.Sc. (Mathematics and Scientific Computing) and Master of Social work (M.S.W.) programmes and also registers candidates for the Ph.D. degree.</p> The Institute has been recognized by the Government of India as one of the centres for the Quality Improvement Programme for M.Tech. and Ph.D.The Institute has a very progressive policy towards extending all possible facilities to its faculty members to acquire higher degrees and receive advanced training. As a result, majority of the faculty members possess Ph.D. degrees. The entire campus is networked with 94 Mbps lease line.</p>
In the year 1972, the Institute initiated a self employment project and established an industrial estate with 68 sheds with the objective of encouraging entrepreneurs and creating additional employment avenues.The Institute was selected as a lead institution in the Design theme under Indo-UK REC Project (1994-99). Under this scheme a Design Centre was established.The Institute has been selected as a Lead Institution under World Bank funded Government of India Project on Technical Education Quality Improvement Programme (TEQIP) (2002-2007). Two state level institutions are networked with MNNIT under the project.</p>

    </div>
    <br>
    <div class="para">
        <a style="color: whitesmoke;" target="_blank" href="{% static "SMP/blog/pics/map.pdf" %}">View College Map</a>
        <hr>
        <div class="mapouter"><div class="gmap_canvas"><iframe width="713" height="423" id="gmap_canvas" src="https://maps.google.com/maps?q=MNNIT%20Allahabad&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://google-map-generator.com">google map generator</a></div><style>.mapouter{position:relative;text-align:right;height:423px;width:713px;}.gmap_canvas {overflow:hidden;background:none!important;height:423px;width:713px;}</style></div>
        <br> <p class="mt-5 mb-3 text-muted">&copy; SMP-Mnnit Allahabad</p>
    </div>
       <br>
</body>
</html>