<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Shradhey Pathak,MNNIT Allahabad">
    <title>Facilities - SMP</title>
    <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">

    <!-- Bootstrap core CSS -->
<link href={% static "SMP\assets\dist\css\bootstrap.css"%} rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .more {display: none;}
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href={% static "SMP\blog\resources.css"%} rel="stylesheet">
  </head>
  <body>
    <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="../"><img src="{% static "SMP/blog/pics/logo.png" %}" alt="Logo" width="50px" height="50px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../details/">Mentors</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="../contacts/">Contact Us</a>
          </li>
      </ul>
      <!-- <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
</header>

<main role="main">
  <!-- <hr class="featurette-divider"> -->

 <br><br>



  <div class="container marketing">



    <body  class="text-center">
      <br>
      <div style="background-color:rgb(240, 131, 59)">
      <h3 style="font-family: 'Piedra', cursive;"><strong>Tap to Jump To Main Content</strong></h3>
     
      <ul style="list-style: none; font-family: 'Merriweather', serif;" class="nav nav-pills nav-justified">
       <li class="nav-item" ><a class="nav-link" style="color: whitesmoke" href="#med">Medical Facilities</a></li>
       <li class="nav-item" ><a class="nav-link" style="color: whitesmoke" href="#guest">Guest Accomodation</a></li>
       <li class="nav-item" ><a class="nav-link" style="color: whitesmoke" href="#hotels">Hotels Near MNNIT</a></li>
      </ul></div>
    </body>
    <hr class="featurette-divider">

    <!-- Three columns of text below the carousel -->


    <!-- START THE FEATURETTES -->


    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Internet</h2>
        <p class="lead"><em>“Internet is just like oxygen to us nowadays, Ever wondered life without Oxygen?”
        </em></p>
        <p class="lead">INTERNET is one of the things that’s in our mind even before coming to college, be it for usage for study purposes; getting lecture notes, participating in online competitions, for uploading stories on Snapchat, Instagram or Facebook and also for viewing TV series. So, where to look up for that? Here comes the Hostel LAN Access which is also a part of making the whole Campus more connected .All the hostels have LAN ports in student rooms, so all you need to do is to have a laptop or PC and enjoy surfing!
        </p>
        <p class="lead">The Administration has tried to fulfil nearly all the needs of the students, thereby providing LAN connection on all the floors and at appropriate places thus giving an adequate to all. In addition to this each hostel has a room where you can use Net using proxy and also facility for Xerox.
        </p>
      </div>
      <div class="col-md-5">
        <img src={% static "SMP\blog\pics\cc.jpg"%} alt="swagat" class="img1">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Department Software Skills</h2>
        <p class="lead">Depending on which department you're in, you may have access to a mediocre to excellent computer lab facility. The CSED has the possibly best net connection in the campus. It is accessible 24X7 and is WiFi enabled. The newly built Design And Innovation Centre is also a hub for good quality internet. The Department labs are very good places to study as they are air-conditioned and quiet. Depending on your department, you may or may not have a WiFi network accessible to students. Some departments either have too few computers or irregular lab timings. So this option may not work for you if you happen to be among the unlucky ones.
        </p>
        <p class="lead">Apart from the few hours per week that you get as part of your lab timings, this lab is not accessible. It also closes after the last running lab course and is not accessible 24x7. Your lab timings would be just enough for you to finish your lab assignments. You will rarely have time to do anything apart from your CS assignment in the lab.
        </p>
        <!-- <p class="lead">Every year Avishkar occurs at mid-September which witnesses a huge participation from all branches and years. Avishkar’ 19 marked a huge success all it had a team of dedicated students, who worked day and night passionately. From self-driving cars which can follow lanes and identify road signals to creating ‘Vikram’ lander inspired ATVs for different types of terrains on moon, form google assistant based home automation to creating your own android app Avishkar keeps on raising the bar year after year.
        </p> -->
        <!-- <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p> -->
      </div>
      <div class="col-md-5 order-md-1">
        <img src={% static "SMP\blog\pics\avish3.jpg"%} alt="avish" class="img1">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Library</h2>
        <p class="lead">We, in MNNIT witness a library which houses quite a lot of books on numerous topics, acquainted with very good quality net which can be used easily by connecting to the MNNIT as whole library is WiFi enabled. Apart from this we also have certain PCs equipped to help students by letting them search for availability of books.
        </p>
        <!-- <p class="lead"><strong> Razzmatazz</strong> where various dance teams from different colleges compete to win the title being judged by the top dancers every year.</p>
        <p class="lead"><strong> Rangmanch and Parimal</strong> an umbrella event for all Hindi literary events</p>
        <p class="lead"><strong> Kavya Sandhya</strong> the inaugural flagship poetry night of Culrav which attracts connoisseurs of poetry, showcasing their talent judged by eminent personalities.
        </p>
        <p class="lead"><strong> Celebrity and Pro-nites </strong>the last two nights of Culrav witnesses thrilling performances from famous celebrities and artists in the fields of rock, hip-hop or EDM.
        </p>
        <p class="lead"><strong> Spandan </strong>which witnesses the charming glamourous ramp walks.
        </p>
        <p class="lead"><strong> Informal Events </strong>from "Stand-up Comedy" to "Googly Cricket" it has a wide variety of events in this arena, to enthral the audiences all the time wherein they stand a chance to win lots of goodies and merchandise.
        </p>
        <p class="lead"><strong> Stunt Show </strong>being hosted by Hero Moto Corp has gathered huge amount of audience last year.
        </p> -->
        
        <!-- <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p> -->
      </div>
      <div class="col-md-5">
        <img src= "{% static "SMP\blog\pics\lib.jpg" %}" alt="avish1" class="img2">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Technical Assistance</h2>
          <p class="lead">24×7 internet connectivity with 1200 Mbps [1000Mbps (1:1) from  NKN (through Railtel) ,200 Mbps (1:1) from BSNL] is provided using optical fibre backbone covering departments, student hostels and residential areas. Wired & wireless internet connectivity in the campus.
            Whole campus is made WiFi enabled be it library, hostels and obviously the administrative building. For any query regarding connectivity issues, please refer to the below provided link:
            </p>
            <a href="http://mnnit.ac.in/index.php/cc-help-desk">http://mnnit.ac.in/index.php/cc-help-desk            </a>
          <!-- <p class="lead"> One of the most awaited Literary events of our college is Eloquence, where your words and your pen are the only weapons.
        </p>
          <p class="lead">There are plenty of events that occurs side by side. Lit-Chat, the flagship event of Eloquence, Gen-Lit Quiz, Model United Nations (MUN), Model Indian Parliament (MIP) where a student witness some of the thought provoking and fierce debates. It also consists of events where budding poets and story tellers are left free to race their creative minds and pen it down artistically. 
        </p>
        <p class="lead">Eloquence is a wholesome experience for the literary enthusiasts to express themselves.
        </p> -->
          <!-- <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p> -->
        </div>
        <div class="col-md-5 order-md-1">
          <img src= "{% static "SMP\blog\club\elog.jpg" %}" alt="elo" class="img1">
          <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
        </div>
      </div>


      <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->



    <div class="row featurette">
      <div class="col-md-7">
        <p id="med"></p>
        <h2 class="featurette-heading">Medical Facilities in MNNIT</h2>
        <h4>How do I avail the facilities?</h4>
  <p class="lead">As soon as you are enrolled to MNNIT you are entitled to free healthcare facilities available in the dispensary, we have a team of experienced and dedicated doctors to correctly diagnose and provide appropriate remedy for your problem. Here your medical history is tracked by the dispensary for future reference, so for future visit you have to be present with the description letter provided by the doctor, so keep it safe(probably at your room).
  </p><br>
  <h4>What to do in case of an emergency/falling ill?  </h4>
  <p class="lead">In case of an emergency we have a 24x7 available Ambulance, which you can call by dialing an emergency number which is provided by the guards present in every hostel. If it’s not serious then one may take a stroll to the dispensary as it is situated inside campus in Staff Colony only.</p>
  <span class="dots">...</span><span class="more">
        <h4>Facilities availablein Dispensary</h4>
  <ul class="lead" style="text-align: left;">
    <li>Consultation & Dispensing of medicines to students, staff & their dependents.</li>
    <li>Special facilities of E.C.G., sugar testing by Glucometer</li>
    <li>Services of Dental surgeon, Orthopaedic surgeon, Ophthalmic surgeon, Skin specialist, Gynaecologist are available on different days.</li>
    <li>Homeopathic medicines also being provided under consultation of Homeopathic consultant. </li>
    <li>Physiotherapist is also available for all type of physiotherapy.    </li>
    <li>Organization of different camps and talks for benefit and awareness of mass in diseases like Hepatitis ,AIDS, Asthma, Diabetes and Arthritis.</li>
    <p>In case MRI or CT Scan is required doctors in the dispensary will refer you or recommend you to the best possible hospital or doctors in the vicinity.
      In case you are still confused or require some information so as to directly contact the Dispensary, here I provide you with some information :-
      </p>
      <ul class="lead" style="list-style: none;">
        <li><a target="_blank" href="http://hc.mnnit.ac.in/">Health Care Website</a></li>
        <li>Dispensary Contact number :- 0532 227 1089</li>
      </ul>
  </ul>
      </span>
        <button class="myBtn">Read more</button>
</div>
<div class="col-md-5">
  <img alt="avish1" class="img7" src={% static "SMP\blog\pics\disp.png" %}>
  <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
</div>

      </div>
      <hr class="featurette-divider"> 
  <div class="row featurette">
    <div class="col-md-7">
      <p id="guest"></p>
      <h2 class="featurette-heading">Guest Accomodation</h2>
      <p class="lead">Housing a guest overnight here at MNNIT is somewhat easier but it’s relative due to uncertain availability of rooms, but the procedure is quite smooth if the room is vacant for accommodation.
      </p>
      <h4>In Campus Accomodation</h4>
      <ul class="lead" style="text-align: left;">
        <li>SVBH:- SVBH is basically an acronym for SARDAR VALLABHBHAI BOYS HOSTEL, which is also known as ‘Mega Hostel’ is housing place for first year students, apart from the rooms for students there are some rooms for accommodation of guests, whose price varies in accordance to your choice for having an AC room or a Non AC room, prices for the same are Rs 1000/- and Rs 500/- per night for 2-3 people. For booking room here one must contact the Hostel Caretaker.        </li>
        <p><strong>NOTE :- The food can be made available to the guests staying over here from the hostel mess under the coupon given issued by Hostel Caretaker.
        </strong></p>
        <li>EDC :- EDC stands for EXECUTIVE DEVELOPMENT CENTRE , We provide 20 AC and 04 Non-AC rooms at EDC on advance booking on the prescribed format. All official bookings will need prior approval of the Director/Registrar or Head of the Department/Section.         </li>
        <p class="lead">For going through the Terms & Conditions of EDC, please click on the link provided below:-
        </p>
        <a target="_blank" href="http://www.mnnit.ac.in/images/newstories/Notice_of_EDC_Room_tariff_and_terms.pdf
        ">Notice For EDC Rooms  </a>
        <li>Contact Details:</li>
        <ul class="lead" style="list-style: none;">
          <li>Dr. Shivesh Sharma( O/C EDC)    :   	0532-2271232</li>
          <li>Mr. Nafees Ahmad(Executive)     :   	0532-2271093</li>
          <li>E-mail ID	    :     edc@mnnit.ac.in</li>
        </ul>
      </ul>
      <!-- <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p> -->
    </div>
    <div class="col-md-5">
      <img src={% static "SMP\blog\pics\guest.png" %} alt="avish1" class="img7">
      <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <p id="hotels"></p>
      <h2 class="featurette-heading">Hotels Near MNNIT</h2>
<p class="lead">If you fail to book a room at the guest house and don’t want to make your guest crash at a hostel room, here’s a coveted list of hotels around the institute that are known for their good service and student-friendly rates. Check them out!
</p><br>
      <span class="dots">...</span>
      <span class="more">
<!-- <h4>What to do in case of an emergency/falling ill?  </h4>
<p class="lead">In case of an emergency we have a 24x7 available Ambulance, which you can call by dialing an emergency number which is provided by the guards present in every hostel. If it’s not serious then one may take a stroll to the dispensary as it is situated inside campus in Staff Colony only.</p>
<h4>Facilities availablein Dispensary</h4> -->
<ul class="lead" style="text-align: left;" style="list-style: none;">
  <li style="background-color: lightblue;">Hotel Ravisha Continental  </li>
  <ul style="background-color: lightblue;"class="lead" style="list-style: none;">
    <li><a target="_blank" href="https://hotelravishacontinental.com/ ">Click For Hotel Site</a></li>
    <li><strong> Address:</strong> 57A.P.D, Tondon Marg, Civil Lines, Prayagraj, Uttar Pradesh 211001
    </li>
    <li><strong>Phone : </strong>073882 00886    </li>
  </ul><br>
  <li style="background-color: lightgreen;">Grand Continental Hotel  </li>
  <ul style="background-color: lightgreen;"class="lead" style="list-style: none;">
    <li><a target="_blank" href="https://grandcontinentalallahabad.com/">Click For Hotel Site</a></li>
    <li><strong> Address:</strong>13, Sardar Patel Marg, Near PVR Cinemas, Civil Lines, Prayagraj, Uttar Pradesh 211001
    </li>
    <li><strong>Phone : </strong>0532 226 0631</li>
  </ul><br>
  <li style="background-color: lightblue;" >Hotel Polo Max</li>
  <ul style="background-color: lightblue;"class="lead" style="list-style: none;">
    <li><a target="_blank" href="https://www.hotelpolomax.com/">Click For Hotel Site</a></li>
    <li><strong> Address:</strong> Multi Functional Complex , Civil Lines Railway Station Compound, Prayagraj, Uttar Pradesh 211001
    </li>
    <li><strong>Phone : </strong>075218 70444</li>
  </ul><br>
  <li style="background-color: lightgreen;">Hotel Relax Inn  </li>
  <ul style="background-color: lightgreen;"class="lead" style="list-style: none;">
    <li><a target="_blank" href=" https://in.hotels.com/ho1061552416/hotel-relax-inn-allahabad-india/ ">Click For Hotel Site</a></li>
    <li><strong> Address:</strong>120, Swami Vivekanand Marg, Gosai Tola, South Malaka, Prayagraj, Uttar Pradesh 211003

    </li>
    <li><strong>Phone : </strong>097929 72200  </li>
  </ul><br>
  <li style="background-color: lightblue;">OYO 3129 DPS Inn</li>
  <ul style="background-color: lightblue;" class="lead" style="list-style: none;">
    <li><a target="_blank" href="https://www.oyorooms.com/4558-oyo-rooms-oyo-3129-dps-inn-prayagraj/      ">Click For Hotel Site</a></li>
    <li><strong> Address:</strong> Plot No. 70G, 58A-3, Dr Lohia Rd, Civil Lines, Prayagraj, Uttar Pradesh 211001
    </li>
    <li><strong>Phone : </strong>0124 398 6375 </li>
  </ul><br>
  <li style="background-color: lightgreen;">Hotel Yatrik </li>
  <ul style="background-color: lightgreen;"class="lead" style="list-style: none;">
    <li><a target="_blank" href="http://hotelyatrik.com/">Click For Hotel Site</a></li>
    <li><strong> Address:</strong>33 Sardar Patel Marg, Gayatripuram Colony, Civil Lines, Prayagraj, Uttar Pradesh 211001
    </li>
    <li><strong>Phone : </strong>0532 226 0921</li>
  </ul><br>
  <li style="background-color: lightblue;">Platinum Villa</li>
  <ul style="background-color: lightblue;"class="lead" style="list-style: none;">
    <li><a target="_blank" href="https://platinum-villa-allahabad.booked.net/">Click For Hotel Site</a></li>
    <li><strong> Address:</strong>15, Thornhill Rd, Agnipath Colony, Vivek Vihar Colony, Civil Lines, Prayagraj, Uttar Pradesh 211001
    </li>
    <!-- <li><strong>Phone : </strong>073882 00886    </li> -->
  </ul><br>
  <li style="background-color: lightgreen;">Le Leisure Hotel</li>
  <ul style="background-color: lightgreen;"class="lead" style="list-style: none;">
    <li><a target="_blank" href="https://www.trivago.in/allahabad-84792/hotel/le-leisure-hotel-5058396">Click For Hotel Site</a></li>
    <li><strong> Address:</strong>12/4, Kamla Nehru Rd, near Power House Crossing, North Malaka, Prayagraj, Uttar Pradesh 211001
    </li>
    <li><strong>Phone : </strong>0124 620 1014 </li>
  </ul><br>
      </ul>
        </span>
        <button class="myBtn">Read more</button>

</div>
<div class="col-md-5">
<img src={% static "SMP\blog\pics\hotels.jpg"%} alt="avish1" class="img7">
<!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
</div>

    </div>

  <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->



  
        <!-- <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p> -->
    



  </div><!-- /.container -->
<br><br>
<div class="med">
  

</div>

  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; SMP - MNNIT Allahabad</p>
  </footer>
</main>
    <script>
    var allButtons = document.querySelectorAll('.myBtn');
allButtons.forEach(function(btn){
  btn.addEventListener('click', myFunction);
});

function myFunction() {
  var allBtns = document.querySelectorAll(".myBtn");
  var allDots = document.querySelectorAll(".dots");
  var allMore = document.querySelectorAll(".more");

  var btnText = allBtns[[...allBtns].indexOf(this)];
  var dots = allDots[[...allBtns].indexOf(this)];
  var moreText = allMore[[...allBtns].indexOf(this)];

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
}
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="{%static "SMP/assets/js/vendor/jquery.slim.min.js" %}"><\/script>')</script><script src={% static "SMP\assets\dist\js\bootstrap.bundle.js"%}></script></body>
</html>
