<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Shradhey Pathak,MNNIT Allahabad">
    <title>Sports - SMP</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">

    <!-- Bootstrap core CSS -->
<link href="{% static "SMP/assets/dist/css/bootstrap.css" %}" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .more {display: none;}
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static "SMP/blog/sport.css" %}" rel="stylesheet">
  </head>
  <body>
    <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="../extra_curricular/">Back To Extras</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../events/">Events</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="../clubs/">Clubs</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="../">Home</a>
          </li>
      </ul>
      <!-- <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
</header>

<main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="bd-placeholder-img" src="{% static "SMP/blog/pics/culrav.jpg" %}" alt="Pic">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg> -->
            <div class="container">
              <div class="carousel-caption text-left">
                <h4>Culrav : Annual Cultural Fest</h4>
                <!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
                <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p> -->
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="bd-placeholder-img" src="{% static "SMP/blog/pics/avish5.jpg" %}" alt="Pic">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg> -->
            <div class="container">
              <div class="carousel-caption text-left">
                <h4>Avishkar : Annual Techno Fest</h4>
                <!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
                <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p> -->
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="bd-placeholder-img" src="{% static "SMP/blog/pics/avishkar.jpg" %}" alt="Pic">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg> -->
            <div class="container">
              <div class="carousel-caption text-left">
                <h4>Prosang : Annual Robo And Aero Fest</h4>
                <!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
                <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="bd-placeholder-img" src="{% static "SMP/blog/pics/josh.jpg" %}" alt="Pic">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg> -->
            <div class="container">
              <div class="carousel-caption text-left">
                <h4>Josh : Annual Sports Fest</h4>
                <!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
                <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="bd-placeholder-img" src="{% static "SMP/blog/pics/eloquence.jpeg" %}" alt="Pic">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg> -->
            <div class="container">
              <div class="carousel-caption text-left">
                <h4>Eloquence : Annual Literary Fest</h4>
                <!-- <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
                <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p> -->
              </div>
            </div>
          </div>
      </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

 <div class="container marketing">
  <div class="row featurette">
    <div class="container h-100 d-flex justify-content-center">
      <div class="life">
        <h3 class="featurette-heading">About Sports</h3>
        <p class="outside">Excellence in sports is a direct index of the stature and intellectual maturity of an institute. MNNIT has always aimed to set a precedent for other institutions by laying utmost emphasis on the multifaceted development of its students and pushing them to raise the bar by striving to be ‘Citius, Altius, Fortius’.All the facilities are helmed by seasoned training staff so that even beginners have a beautiful chance to learn the craft and their more experienced counterparts can receive the requisite guidance.
      </p>
      <p class="outside">You are here for an overall development of your personality, so to keep you healthy and fit, MNNIT has all the facilities for sports, both indoor and outdoor.
      </p> <span class="dots">...</span><span class="more">
      <p class="outside">All outdoor sports like athletics, cricket, football, hockey, basketball, volleyball, etc. and indoor sports like table tennis, weight lifting, chess, carrom etc. are actively played by all throughout the year.
        Institute organize and promote all extra-curricular activities in the field of sports. It has currently twelve clubs:
        </p>
       <ul style="list-style: none;" class="outside">
          <li>Athletics Club</li>
           <li>Badminton Club</li>
           <li>Basketball Club</li>
           <li>Cricket Club</li>
           <li>Football Club</li>
           <li>Hockey Club</li>
           <li>Lawn Tennis Club</li>
           <li>Table Tennis Club</li>
           <li>Volleyball Club</li>
           <li>Skating Club</li>
           <li>Taekwondo Club</li>
           <li>Karate Club</li>
        </ul>
      </span>
        <button onclick="myFunction()" class="myBtn">Read more</button></div>
      </div>
    <br>

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Athletics Meet</h2>
        <div class="container h-100 d-flex justify-content-center">
        <hr>
        <p class="lead">Athletics Meet, under Student Activity Centre is a competition held every winter at MNNIT. Being a three-day event, there more than 80 competitions covering all formal and informal events. The Meet affords the opportunity to the sportspersons from the institute to showcase their talents. 
        </p>
        </div>
      </div>
      <div class="col-md-5">
        <img src="{% static "SMP/blog/club/athleticsmeet.jpg" %}" alt="ath" class="img1">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Josh</h2>
        <div class="container h-100 d-flex justify-content-center">
        <hr>
        <p class="lead">Josh, the Inter Sports Competition, provides platform for all sportsmen, experienced and amateurs, in the campus. This event will let you push the boundaries of what you can do in the sports arena. It stretches throughout the first month of even semester, and sees by far the largest participation from the students. Don’t worry if you are a big zero in sports and never knew where to begin. There is a full-time dedicated team of professional coaches for various sporting activities. Physical fitness and mental alertness is a mantra for success in life. So, each one of you do make it a point to take some time out from your busy schedules for sports and extra-curricular activities.
        </p></div>
        </div>
      <div class="col-md-5 order-md-1 ">
        <img src="{% static "SMP/blog/club/josh.jpg" %}" alt="josh" class="img1">
        <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="container marketing">
      <hr class="featurette-divider">
    <div class="row featurette">
      <hr class="featurette-divider">
      <div class="container h-100 d-flex justify-content-center">
        <hr class="featurette-divider">
      <div class="life">
        <p class="outside">The probables for the clubs are selected in September and are then subjected to regular coaching almost every evening throughout the year by excellent coaches. From badminton to basketball, you can follow any sport that you love. The SAC grounds are open till 9 P.M. at night and you can issue sports equipment from the security guard at the SAC desk by bringing your I-Card.
      </p>
      <p class="outside">MNNIT sports boasts of a rich culture, thriving on immense participation across the institute and the kind of infrastructure most colleges can only dream of.
      </p></div>
      </div></div>
    <hr class="featurette-divider">


  <!-- FOOTER -->
  <footer class="container">
     <hr class="featurette-divider">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; SMP - MNNIT Allahabad</p>
  </footer>
  </div>
</main>
     <script>
    var allButtons = document.querySelectorAll('.myBtn');
allButtons.forEach(function(btn){
  btn.addEventListener('click', myFunction);
});

function myFunction() {
  var allBtns = document.querySelectorAll(".myBtn");
  var allDots = document.querySelectorAll(".dots");
  var allMore = document.querySelectorAll(".more");

  var btnText = allBtns[[...allBtns].indexOf(this)];
  var dots = allDots[[...allBtns].indexOf(this)];
  var moreText = allMore[[...allBtns].indexOf(this)];

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less";
    moreText.style.display = "inline";
  }
}
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="{% static "SMP/assets/js/vendor/jquery.slim.min.js" %}" ><\/script>')</script><script src="{% static "SMP/assets/dist/js/bootstrap.bundle.js" %}"></script></body>
</html>
